<header class="bg-dark pt-4">
    <div class="row">
        <div class="col-6">
            <h1 class="text-warning text-center">BOAT HUB</h1>
        </div>
        <div class="col-6 text-center pt-3">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="text-white text-decoration-none" routerLink="">Logout /</a></li>
                <li class="list-inline-item"><a class="text-white text-decoration-none" routerLink="/contact">Contact /</a></li>
                <li class="list-inline-item"><a class="text-white text-decoration-none" routerLink="/about">About</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="container">
    <div class="row pt-5">
        <div class="col-lg-3 card">
            <a class="text-decoration-none text-dark" routerLink="/mechanicappointment">
                <img src="appoint.jpg" class="card-img-top w-100 h-90">
                <div class="card-body">
                    <h5 class="card-title">Mechanic Appointment</h5>
                </div>
            </a>
        </div>
    </div>
</div>
