<header class="bg-dark">
    <div class="row">
        <div class="col-6 text-center">
            <h1 class="text-warning text-center">BOAT HUB</h1>
        </div>

        <div class="col-6 text-center pt-3">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="text-white text-decoration-none" routerLink="">LogOut /</a></li>
                <li class="list-inline-item"><a class="text-white text-decoration-none" routerLink="/contact">Contact /</a></li>
                <li class="list-inline-item"><a class="text-white text-decoration-none" routerLink="/about">About</a></li>
            </ul>
        </div>
    
        <div class="col-12">
            <h2 class="text-white">Choose your Service from Below</h2>
        </div>
    </div>
</header>
<div class="container">
    <div class="row pt-3">

        <div class="col-12 col-sm-6 col-lg-3 card">
            <a class="text-decoration-none text-dark" routerLink="/grocery">
                <img class="w-100 h-90 card-img-top" src="/grocery.jpg">
                <div class="card-body">
                    <h5 class="card-title">grocery</h5>
                </div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 card">
            <a class="text-decoration-none text-dark" routerLink="/ice">
                <img src="/ice.jpg" class="w-100 h-90 card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Ice</h5>
                </div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 card">
            <a class="text-decoration-none text-dark" routerLink="/fuel">
                <img src="/petrol.jpeg" class="w-100 h-90 object-fit-cover card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Fuel</h5>
                </div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 card">
            <a class="text-decoration-none text-dark" routerLink="/mechanic">
                <img src="/mechanic (2).jpg" class="w-100 h-90 object-fit-cover card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Mechanic</h5>
                </div>
            </a>
        </div>
    </div>
</div>

<footer>
    <p class="footer text-center pt-5">&copy; 2025 BoatHub. All rights reserved.</p>
</footer>      


